@import url(https://fonts.googleapis.com/css?family=Cuprum:400,700);



.nav {
    color: #FFFFFF;
    font-family: 'Cuprum',Georgia,"Times New Roman",Times,Serif;
    font-size: 16px;
    height: 57px;
}

.nav ul {margin: 0; padding: 0; }
.nav li i { position: absolute; margin-left: -35px; margin-top: 6px;}
.nav li { float: left; display: block; padding: 10px 10px 10px 50px; border-right: 1px solid #ffffff; cursor: pointer; }
.nav li:last-child{ border-right:none;}
.nav li main {font-weight: 700; margin-top: -18px; }
.nav li span { position: relative; float: left; font-size: 12px; color: #f5f7f8; }

.nav li, .nav li i, .nav li main, .nav li span {
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}

.nav li:hover main { 
    margin-left: 10px; 
   -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.nav li:hover span { 
    margin-left: 25px; 
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

/* COLOR MANAGEMENT */

.navbar .nav { background: none repeat scroll 0 0 #03B2EC;}
.navbar .nav li:hover { background: #044c64; }
.navbar .nav li:hover i {color: #ffffff;}
.navbar .nav li i { color: #044c64; }
.navbar .nav li:hover i {color: #ffffff;}

.ccred .nav { background: none repeat scroll 0 0 #f00940;}
.ccred .nav li:hover { background: #a30328; }
.ccred .nav li i { color: #a30328; }
.ccred .nav li:hover i {color: #ffffff;}

.ccgreen .nav { background: none repeat scroll 0 0 #98c304;}
.ccgreen .nav li:hover { background: #5e7902; }
.ccgreen .nav li i { color: #5e7902; }
.ccgreen .nav li:hover i {color: #ffffff;}

.cssbron .nav { background: none repeat scroll 0 0 #af4004;}
.cssbron .nav li:hover { background: #7c2e03; }
.cssbron .nav li i { color: #7c2e03; }
.cssbron .nav li:hover i {color: #ffffff;}

section{ float:left; width:100%; margin-bottom:40px;}

.credit {
float: left;
margin: 25px;
text-align: center;
}
.credit em{
margin-right:5px;
}
.credit a {
color: #00B7EA;
font-weight: bold;
text-decoration: none;
}
.credit a:hover {
color: #086cc1;
}

#wrapper{
    background-color: #03B2EC;
}

.icon-bar{
    background-color: white;
}
.nav > li > a:hover,a:focus,a:visited,a:active{
   
    color: white;
    padding-top: 0px;
    background-color: transparent;
}

.nav > li > a{
    color: white;
    padding-top: 0px;
    background-color: transparent;
}

#gly{
    
    font-size: 20px;
    margin-top: 16px;
}

.modal-content{
    background-color: rgba(10,10,10,0.1);
}
.modal-header{
    background-color: rgba(10,10,10,0.1);
}
.modal-title{
    color: whitesmoke;
}
#logbtn{
    background-color: #3ef21b;
}
#regbtn{
    background-color: #fcae27;
}

.filters{
    width:100%;
    margin-left: 3px;
    
}

.filters a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 10px;
    
    text-decoration: none;
}

.filters a:hover {
    background-color: #ccc;
}

.filters a.heading {
    background-color: lavender;
    color: indigo;
    font-weight:bold;
    
}

.filters input {
    
    padding: 10px;
}

